In [90]:
expenses = [
    {"name": "فطار", "category": "food", "amount": 30},
    {"name": "غدا", "category": "food", "amount": 70},
    {"name": "عشا", "category": "food", "amount": 60},
    {"name": "سناك", "category": "food", "amount": 20},
    {"name": "عصير", "category": "food", "amount": 15},
    {"name": "قهوة", "category": "entertainment", "amount": 40},
    {"name": "سينما", "category": "entertainment", "amount": 120},
    {"name": "بلايستيشن", "category": "entertainment", "amount": 50},
    {"name": "نتفليكس", "category": "entertainment", "amount": 85},
    {"name": "مواصلات", "category": "transport", "amount": 25},
    {"name": "بنزين", "category": "transport", "amount": 200},
    {"name": "اوبر", "category": "transport", "amount": 90},
    {"name": "انترنت", "category": "utilities", "amount": 150},
    {"name": "كهربا", "category": "utilities", "amount": 120},
    {"name": "مياه", "category": "utilities", "amount": 60},
    {"name": "ملابس", "category": "shopping", "amount": 300},
    {"name": "جزمة", "category": "shopping", "amount": 450},
    {"name": "دواء", "category": "health", "amount": 80},
    {"name": "دكتور", "category": "health", "amount": 200},
]

In [91]:
total_spend = 0
for ex in expenses :
  total_spend += ex["amount"]
print(f"Total Expenses : {total_spend}")

Total Expenses : 2165

In [93]:
category = {}
for expense in expenses :
  cate = expense['category'].title()
  if cate not in category:
    category[cate] = expense['amount']
  else :
    category[cate] += expense['amount']


max_value = max(category.values())



cat={}
for ex in expenses :
  amount = ex['amount']
  name = ex['name']
  if name not in cat:
    cat[name] = amount
  else :
    cat[name] += amount

max_spend_by_category = max(cat.values())

In [94]:
def print_reports():
  for i , j in category.items() :
    print(f"{i} : {j}\n")
  print (50 * "-")
  for k, v in category.items():
    if v == max_value:
        print(f"Highest category: {k} ({v})\n")
  print (50 * "-")
  for i,j  in cat.items():
    if j == max_spend_by_category:
     print(f"Highest category: {i} ({j})\n")

In [95]:
print_reports()

Food : 195

Entertainment : 295

Transport : 315

Utilities : 330

Shopping : 750

Health : 280

--------------------------------------------------
Highest category: Shopping (750)

--------------------------------------------------
Highest category: جزمة (450)